<!-- NgIf Structural Directive -->
<app-hello *ngIf="user.age >= 18; else under18" [name] = "user.name"></app-hello>

<ng-template #under18>
    <div *ngIf="user.age < 18">Not show</div>
</ng-template>


<button (click)="user.age = user.age - 1">-</button>
Age: {{ user.age }}
<button (click)="user.age = user.age + 1">+</button>

<!-- NgFor -->
<!-- for(let someThing of users) -->
<!-- 
    -$implicitL item Implicit context variable
    -index: so thu tu cua item hien tai
    -count: do dai cua arr
    -first: true neu item la dau tien trong arr
    -last: 
    -even: true neu index chan
    -odd: true neu index le
 -->
 <ul>
    <li *ngFor="let user of users; index as idx; count as total; first as isFirst; last as isLast">
        <span>{{ user.name }} - {{ user.id }} - {{ user.phone }}</span>
        <br><br>
        <span>at index {{ idx }} out of {{ user.phone }}</span>
        <br>
        <span>Count: {{ total }}</span>
    </li>
 </ul>


<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">{{tag}}</button>